@model IEnumerable<EktivaBankNetApp.Models.ViewModel.Transaction>

@{
    ViewData["Title"] = "GetLasts";
}
<div>
    <a style="color:darkgreen" asp-controller="Accounts" asp-action="Index">Back to List</a>
</div>


<h5 style="font-weight: bold; color:crimson"> Lasts 10 Transactions. </h5>
<hr style="margin-top:-10px; border-color:black" />

<table style="border: 2px solid black;" class="table">
    <thead style="border: 2px solid black;">
        <tr style="border: 2px solid black;">
            <th style="border: 2px solid black;">
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th style="border: 2px solid black;">
                @Html.DisplayNameFor(model => model.AccFromId)
            </th>
            <th style="border: 2px solid black;">
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th style="border: 2px solid black;">
                @Html.DisplayNameFor(model => model.BalBefore)
            </th>
            <th style="border: 2px solid black;">
                @Html.DisplayNameFor(model => model.BalAfter)
            </th>

            <th style="border: 2px solid black;">
                @Html.DisplayNameFor(model => model.transactionDate)
            </th>
        </tr>
    </thead>
    <tbody style="border: 1px dashed black;">
        @foreach (var item in Model)
        {
            <tr style="border: 1px dashed black;">
                <td style="border: 1px dashed black;">
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td style="border: 1px dashed black;">
                    @if (item.AccFromId == 0)
                    {
                        @Html.DisplayFor(modelItem => item.AccToId)
                    }
                    @if (item.AccToId == 0)
                    {
                        @Html.DisplayFor(modelItem => item.AccFromId)
                    }
                </td>

                <td style="border: 1px dashed black;">
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td style="border: 1px dashed black;">
                    @Html.DisplayFor(modelItem => item.BalBefore)
                </td>
                <td style="border: 1px dashed black;">
                    @Html.DisplayFor(modelItem => item.BalAfter)
                </td>
                <td style="border: 1px dashed black;">
                    @Html.DisplayFor(modelItem => item.transactionDate)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a style="color:darkgreen" asp-controller="Accounts" asp-action="Index">Back to List</a>
</div>
<hr style="margin-top:-10px; border-color:black" />

